@model RetailPortal.Models.GMQuotations

<div class="card mt-4">
    <div class="card-header">Policy Details</div>
    <div class="card-body">
        <div class="form-group">
            <label for="quotationNumber">Policy Number</label>
            <input type="text" class="form-control" id="quotationNumber" name="QuotationNumber" required>
        </div>
        <div class="form-group">
            <label for="policyStartDate">Policy Start Date</label>
            <input type="date" class="form-control" id="policyStartDate" name="PlanStartDate" required>
        </div>
    </div>
</div>
