@model RetailPortal.Models.GMQuotations

<div class="card mt-4">
    <div class="card-header">Policy Details</div>
    <div class="card-body">
        <div class="form-group">
            <label>Policy Number:</label>
            <p>@Model.QuotationNumber</p>
        </div>
        <div class="form-group">
            <label>Policy Start Date:</label>
            <p>@Model.PlanStartDate.ToString("yyyy-MM-dd")</p>
        </div>
    </div>
</div>
