@model RetailPortal.Models.GMQuotations

<div class="card">
    <div class="card-header">Sponsor Details</div>
    <div class="card-body">
        <div class="form-group">
            <label for="sponsorName">Name</label>
            <input type="text" class="form-control" id="sponsorName" name="ParticipantName" required>
        </div>
        <div class="form-group">
            <label for="sponsorEmail">Email</label>
            <input type="email" class="form-control" id="email" value="@ViewBag.SponsorEmail" readonly>
            <input type="hidden" name="ParticipantEmail" value="@ViewBag.SponsorEmail" />
        </div>
        <div class="form-group">
            <label for="sponsorPhone">Phone Number</label>
            <input type="tel" class="form-control" id="phone" value="@ViewBag.SponsorPhone" readonly>
            <input type="hidden" name="ParticipantTelephone" value="@ViewBag.SponsorPhone" />
        </div>
        <div class="form-group">
            <label for="sponsorAddress">Address</label>
            <input type="text" class="form-control" id="sponsorAddress" name="ParticipantAddress" required>
        </div>
        <div class="form-group">
            <label for="sponsorCity">City</label>
            <input type="text" class="form-control" id="sponsorCity" name="ParticipantCity" required>
        </div>
        <div class="form-group">
            <label for="sponsorType">Type</label>
            <input type="text" class="form-control" id="sponsorType" name="SponsorType" required>
        </div>
        <div class="form-group">
            <label for="region">Region</label>
            <input type="text" class="form-control" id="region" name="Region" required>
        </div>
        <div class="form-group">
            <label for="subRegion">Sub Region</label>
            <input type="text" class="form-control" id="subRegion" name="SubRegion" required>
        </div>
    </div>
</div>

