@{
    ViewData["Title"] = "Policy Details";
}
<style>
    .div1{
        width: 200px;
        height: 30px;
        border: 1px solid blue;
    }
    .div2{
        width: 200px;
        height: 30px;
        border: 1px solid blue;
    }

    .welcome-message {
        float: right;
        margin-top: 10px;
        color: #555;
    }
</style>
<br />
<div class="col-md-6 text-right">
    <p class="welcome-message">Welcome, @ViewBag.PolicyName</p>
</div>
<ul class="nav nav-tabs">
    
    <li class="nav-item">
        <a class="nav-link" href="/SponsorDetails">Sponsor Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/PolicyDetails">Policy Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/MemberDetails">Member Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/ProductDetails">Product Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Payment">Payment</a>
    </li>
</ul>
<br />

<form id="policyForm">
    <!-- Add your form fields here -->
    <div class="form-group">
        <label for="policyDate">Policy Date</label>
        <input type="date" class="form-control div2" id="policyDate" name="policyDate" required>
    </div>
    <!-- Add any other fields required for the policy details -->
    <!-- Back and Next buttons -->
    <div class="mt-3">
        <a href="@Url.Action("Index", "Sponsor")" class="btn back-button">Back</a>
        <a href="@Url.Action("Index", "Member")" class="btn next-button">Next</a>
    </div>
</form>
