@model RetailPortal.Models.Members

<form id="memberForm" method="post" action="@Url.Action("InsertMembers", "Member")">
    @* <form asp-action="AddMember" method="post" action="@Url.Action("InsertMembers", "Member")"> *@
    <div class="row mb-4 g-sm-1 g-md-2 align-items-center">
        <div class="form-floating col-sm-12 col-md-8">
            <select id="memberchoose" name="MemberType" placeholder="Member Type" class="form-select" required>
                <option value="" disabled selected>Select an option</option>
                <option value="myself">Myself</option>
                <option value="myfamilymembers">My family members</option>
                <option value="mycolleague">My colleague</option>
            </select>
            <label class="form-label" for="memberchoose">Choose Member</label>
        </div>
        <div class="col-sm-12 col-md-4">
            <span id="MemChooseHelpInline" class="form-text align-items-start fst-italic text-info">
                Choose member type.
            </span>
        </div>
    </div> 
    
    <div class="row mb-4 g-sm-1 g-md-2 align-items-center">
        <div class="form-floating col-sm-12 col-md-8">            
            <select id="relation" name="Relation" class="form-select" required>
                <option value="" disabled selected>Select a relationship</option>
                <option value="principal">Principal</option>
                <option value="spouse">Spouse</option>
                <option value="child">Child</option>
            </select>
            <label class="form-label" for="relation">Relationship</label>
        </div>
        <div class="col-sm-12 col-md-4">
            <span id="MemChooseHelpInline" class="form-text align-items-start fst-italic text-info">
                Choose Relation
            </span>
        </div>
    </div>
    <div class="row mb-4 g-sm-1 g-md-2 align-items-center">
        <div class="form-floating col-sm-12 col-md-8">            
            <input type="text" placeholder="Member Name" class="form-control form-control-lg" id="firstName" name="FirstName" required>
            <label class="form-label" for="firstName">Member Name</label>
        </div>
        <div class="col-sm-12 col-md-4">
            <span id="NameHelpInline" class="form-text align-items-start fst-italic text-info">
                Type member name. add more description here.
            </span>
        </div>
    </div>
    <div class="row mb-4 g-sm-1 g-md-2 align-items-center">
        <div class="form-floating col-sm-12 col-md-8">            
            <input type="date" class="form-control form-control-lg" id="dob" name="DOB" required>
            <label class="form-label" for="dob">Date of Birth</label>
        </div>
        <div class="col-sm-12 col-md-4">
            <span id="NameHelpInline" class="form-text align-items-start fst-italic text-info">
                Type member dob. add more description here.
            </span>
        </div>
    </div>
    <div class="row mb-4 g-sm-1 g-md-2 align-items-center">
        <div class="form-floating col-sm-12 col-md-8">            
            <input type="text" placeholder="Phone Number" class="form-control form-control-lg" id="mobileNumber" name="MobileNumber" required>
            <label class="form-label" for="mobileNumber">Phone Number</label>
        </div>
        <div class="col-sm-12 col-md-4">
            <span id="NameHelpInline" class="form-text align-items-start fst-italic text-info">
                Type member mobile number. add more description here.
            </span>
        </div>
    </div>
    <div class="row mb-4 g-sm-1 g-md-2 align-items-center">
        <div class="form-floating col-sm-12 col-md-8">            
            <select id="gender" class="form-select" name="Gender" required>
                <option value="" disabled selected>Select your gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>
            <label class="form-label" for="gender">Gender</label>
        </div>
        <div class="col-sm-12 col-md-4">
            <span id="NameHelpInline" class="form-text align-items-start fst-italic text-info">
                Type sponsor full name. add more description here.
            </span>
        </div>
    </div>

    <div class="row mb-4 g-sm-1 g-md-2 align-items-center">
        <div class="form-floating col-sm-12 col-md-8">            
            <select id="maritalStatus" class="form-select" name="MaritalStatus" required>
                <option value="" disabled selected>Select your marital status</option>
                <option value="single">Single</option>
                <option value="married">Married</option>
                <option value="divorced">Divorced</option>
            </select>
            <label class="form-label" for="maritalStatus">Marital Status</label>
        </div>
        <div class="col-sm-12 col-md-4">
            <span id="NameHelpInline" class="form-text align-items-start fst-italic text-info">
                Type sponsor full name. add more description here.
            </span>
        </div>
    </div>

    <div class="row mb-4 g-sm-1 g-md-2 align-items-center">
        <div class="form-floating col-sm-12 col-md-8">            
            <select id="salary" class="form-select" name="SalaryBand" required>
                <option value="" disabled selected>Select your salary range</option>
                <option value="nosalary">No Salary</option>
                <option value="below4000">Below 4000 AED</option>
                <option value="4001to12000">4001-12000 AED</option>
                <option value="above12000">Above 12000 AED</option>
            </select>
            <label class="form-label" for="salary">Salary</label>
        </div>
        <div class="col-sm-12 col-md-4">
            <span id="NameHelpInline" class="form-text align-items-start fst-italic text-info">
                Type sponsor full name. add more description here.
            </span>
        </div>
    </div>

    <div class="row mb-4 g-sm-1 g-md-2 align-items-center">
        <div class="form-floating col-sm-12 col-md-8">            
            <input type="text" placeholder="Height" class="form-control form-control-lg" id="height" name="Height" required>
            <label class="form-label" for="height">Height (cm)</label>
        </div>
        <div class="col-sm-12 col-md-4">
            <span id="NameHelpInline" class="form-text align-items-start fst-italic text-info">
                Type sponsor full name. add more description here.
            </span>
        </div>
    </div>
    <div class="row mb-4 g-sm-1 g-md-2 align-items-center">
        <div class="form-floating col-sm-12 col-md-8">            
            <input type="text" placeholder="Weight" class="form-control form-control-lg" id="weight" name="Weight" required>
            <label class="form-label" for="weight">Weight (kg)</label>
        </div>
        <div class="col-sm-12 col-md-4">
            <span id="NameHelpInline" class="form-text align-items-start fst-italic text-info">
                Type sponsor full name. add more description here.
            </span>
        </div>
    </div>
    <div class="container text-end">
        <div class="row m-3">
            <div class="col-sm-4 d-grid">
                <a href="@Url.Action("_MemberDetails", "Member")" class="btn btn-lg btn-outline-secondary">
                    <span>Add More</span>
                    <i class="bi bi-plus-circle"></i>
                </a>
            </div>
            <div class="col-sm-4 d-grid">
                <a href="@Url.Action("Index", "GMQuotation")" class="btn btn-lg btn-outline-secondary">
                    <span>Back</span>
                    <i class="bi bi-arrow-left"></i>
                </a>
            </div>
            <div class="col-sm-4 d-grid">
                <button type="submit" class="btn btn-lg btn-outline-primary">
                    <span>Next Add Product</span>
                    <i class="bi bi-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>




 
</form>
