@model List<RetailPortal.Models.Mstr_PlanCategoryBenefits>

@{
    ViewData["Title"] = "Product Details";
}

<div class="card mt-5">
    <!-- Progress Bar -->
    <div class="progress" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 30px">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 75%"></div>
    </div>

    <!-- Navigation Tabs -->
    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Add Sponsor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Add Member</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-1-square"></i><span class="ms-1 text-primary">Choose Benefit</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Payment</a>
        </li>
    </ul>

    <!-- Form -->
    <form id="sponsorForm" method="post" action="@Url.Action("InsertProducts", "Product")">

        <!-- Product Details -->
        <div class="container mt-4">
            @(await Html.PartialAsync("_ProductDetails", Model))
        </div>

        <!-- Submit Button -->
        <div class="container text-end">
            <div class="row m-sm-3">
                <!-- Back Button -->
                <div class="col-sm-6 col-xl-4 d-grid ms-auto mb-2">
                    <a href="@Url.Action("Index", "Member")" class="btn btn-lg btn-outline-secondary">
                        <span>Back</span>
                        <i class="bi bi-arrow-left"></i>
                    </a>
                </div>
                <div class="col-sm-6 col-xl-4 d-grid ms-auto">
                    <button type="submit" class="btn btn-lg btn-outline-primary">
                        <span>Next Payment</span>
                        <i class="bi bi-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
