@{
    ViewData["Title"] = "Product Details";
    var prodModel = (List<Mstr_PlanCategoryBenefits>)Model;
}

<div class="card mt-5">
    <div class="progress " role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="height: 30px">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 75%"></div>
    </div>
    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#"><i class="bi bi-1-square"></i><span class="ms-1 text-primary">Add Sponsor</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link " aria-disabled="true">Add Members</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-disabled="true">Choose Benefit</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Payment</a>
        </li>
    </ul>
    
    <form id="productForm">
        <div class="row justify-content-center mt-4">
            <div class="col-md-8">
                @(await Html.PartialAsync("_ProductDetails", prodModel))
            </div>
        </div> 
        <!-- Back and Next buttons -->
        <div class="mt-3">
            <a href="@Url.Action("Index", "Member")" class="btn back-button">Back</a>
            <a href="@Url.Action("Index", "Payment")" class="btn next-button">Next</a>
        </div>
    </form>

</div> 


